@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap");

:root {
  --cor-primaria: #f4eee0;
  --cor-secundaria: #2e073f;
  --cor-terciaria: #7a1cac;
  --cor-hover: #8e05c2;

  --cor-sessao-primaria: rgb(133, 91, 156);
  --cor-sessao-secundaria: #ad49e1;

  --fonte-primaria: "Krona One", sans-serif;
  --fonte-secundaria: "Montserrat", sans-serif;

  --color: rgb(255, 229, 85); /* Definindo a variável de cor */
  --border-size: 1rem;
  --bg-color: #252525;

  --color-strong:#ac44b6;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);

  opacity: 0;
  animation: fadeIn 1s forwards;
}

/*animação para o site aparecer suavemente*/
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.cabecalho {
  display: flex;
  padding: 2vh 4vh;
  position: fixed;
  width: 100%;
   top: 0; /* Certifique-se de que o cabeçalho está fixado no topo */
  left: 0; /* Para garantir que ele ocupe a largura inteira */
  transition: 1s;
  z-index: 10;
}

#cabecalho.ativo {
  background-color: var(--cor-primaria);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

.cabecalho-menu {
  display: flex;
  justify-content: center;
  width: 100%;
}

.cabecalho-menu-lista {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 10px;
  gap: 16rem;
}

.cabecalho-menu-link {
  color: var(--cor-secundaria);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: color 0.5s;
  font-family: var(--fonte-secundaria);
}
.cabecalho-menu-link:hover {
  color: var(--cor-hover);
}

.cabecalho-menu-mobile {
  display: none;
  cursor: pointer;
  position: fixed; /* Torna o botão fixo */
  top: 3rem; /* Centraliza o botão verticalmente */
  right: 10rem; /* Ajusta a distância da borda direita */
  transform: translateY(-50%); /* Ajusta para centralizar o botão verticalmente */
  z-index: 20; /* Garante que o botão fique acima dos outros elementos */

}

.cabecalho-menu-mobile div {
  width: 2rem;
  height: 0.2rem;
  background: var(--cor-terciaria);
  margin: 8px;
}

/* Logo visível apenas em dispositivos móveis */
.cabecalho-logo {
  display: none; /* Esconde logo por padrão */
}




/*Main*/
.apresentacao {
  padding: 5% 15%;
  display: flex;
  align-items: center;
}

.apresentacao-conteudo {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 0 5%;
}

.apresentacao-conteudo-titulo {
  font-size: 2.5rem;
  font-family: var(--fonte-primaria);
}

.apresentacao-titulo-destaque {
  color: var(--cor-terciaria);
}

.apresentacao-conteudo-descricao {
  font-size: 1rem;
  font-family: var(--fonte-secundaria);
  font-weight: 600;
}

.apresentacao-imagem {
  width: 40%;
  padding: 3% 0;
  border-radius: 20rem;
}

.apresentacao-links {
  display: flex;
  gap: 2rem;
}
.apresentacao-links-link {
  color: var(--cor-secundaria);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: color 0.5s;
  font-family: var(--fonte-secundaria);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 2px solid var(--cor-secundaria);
  padding: 0.5rem 1rem;
  border-radius: 1rem;

  position: relative;
  overflow: hidden;
  transition: 0.5s ease;
}

.apresentacao-links-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--cor-secundaria);
  transition: left 0.5s ease-in-out;
  z-index: -1;
}

.apresentacao-links-link:hover {
  color: var(--cor-primaria);
  border-color: var(--cor-secundaria);
  background-color: var(--cor-secundaria);
}

.apresentacao-links-link:hover::before {
  left: 0;
}

.apresentacao-links-link img {
  filter: brightness(0) saturate(100%);
  width: 2rem;
  height: 2rem;
  transition: filter 0.5s ease;
}

.apresentacao-links-link:hover img {
  filter: brightness(0) invert(1);
}

/*Sobre*/
.sobre {
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  height: 120vh;
  min-height: calc(
    100vh - 60px
  ); /* Ajuste conforme a altura do seu cabeçalho */
}

.sobre-titulo {
  font-size: 2.5rem;
  font-family: var(--fonte-primaria);
  text-align: center;
  color: var(--cor-secundaria);
}

.sobre-titulo-imagem {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

/* Estilos do contêiner do slider */
.sobre-slider {
  position: relative; /* Necessário para posicionar os botões de navegação dentro do contêiner */
 height: 80vh; /* 50% da altura da tela */
  width: 45vh; /* Ajusta a largura do slider (você pode modificar esse valor conforme necessário) */
  overflow: hidden; /* Garante que as imagens que saem da área do contêiner não apareçam */

  border-radius: 4rem;
}

/* Estilos para o contêiner das imagens dentro do slider */
.sobre-slider-slide {
  display: flex;
  transition: transform 0.5s ease;
 height: 100%; /* Ocupa 100% da altura do contêiner pai */
width: 100%; /* Ocupa 100% da largura do contêiner pai */
}

/* Estilos das imagens dentro do slider */
.sobre-slider-imagem {
  width: 100%; /* Cada imagem ocupa 100% da largura do contêiner pai */
  height: 100%; /* Cada imagem ocupa 100% da altura do contêiner pai */
  object-fit: cover; /* Garante que a imagem cubra o espaço sem distorcer */
  object-position: center; /* Centraliza a imagem no contêiner */
}

/* Estilos para os botões de navegação */
button {
  position: absolute; /* Posiciona os botões dentro do contêiner do slider */
  top: 50%; /* Posiciona os botões no meio vertical do slider */
  transform: translateY(
    -50%
  ); /* Ajusta para que o botão fique exatamente no meio */
  background-color: transparent; /* Torna o fundo do botão transparente */
  color: white; /* Define a cor do texto dos botões como branco */
  border: none; /* Remove a borda do botão */
  padding: -2rem; /* Ajusta o tamanho do padding do botão (não afetando o conteúdo interno diretamente) */
  cursor: pointer; /* Muda o cursor para uma mãozinha ao passar sobre o botão */
  font-size: 2rem; /* Define o tamanho da fonte do botão */
  z-index: 1; /* Garante que o botão fique acima das imagens no slider */
  opacity: 0.8; /* Aplica uma opacidade sutil ao botão */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Define uma transição suave para mudanças de opacidade e tamanho */
}

/* Estilos específicos para o botão de navegação "anterior" */
.slider-prev {
  left: 10px; /* Posiciona o botão "anterior" à esquerda do slider */
}

/* Estilos específicos para o botão de navegação "próximo" */
.slider-next {
  right: 10px; /* Posiciona o botão "próximo" à direita do slider */
}

/* Estilos para os botões quando o mouse passa sobre eles */
button:hover {
  opacity: 1; /* Faz o botão ficar completamente visível ao passar o mouse sobre ele */
  transform: translateY(-50%) scale(1.1); /* Faz o botão aumentar levemente de tamanho ao passar o mouse */
}

.sobre-descricao {
  font-size: 1rem;
  font-family: var(--fonte-secundaria);
  font-weight: 600;
  text-align: justify;
  line-height: 1.5;
  width: 400rem;

  color: var(--bg-color);
}

.sobre-descricao strong {
  color: var(--cor-hover);
  font-weight: 700;
}

/*Projetos*/
.projetos {
  padding: 5% 15% 20% 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.projetos-titulo {
  font-size: 2.5rem;
  font-family: var(--fonte-primaria);
}

.projetos-container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 4rem;
}

.projetos-projeto {
  position: relative;
  background-color: var(--cor-secundaria);
  width: 30%;
  height: 40%;
  border-radius: var(--border-size);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  isolation: isolate;
  overflow: hidden;
  transition: all 0.3s ease; /* animação suave para mudanças de tamanho */
}




.projetos-projeto-imagem {
  width: 100%;
  height: 200px; /* Defina um valor fixo para a altura, garantindo que ambas tenham a mesma altura */
  object-fit: cover; /* Mantém a imagem proporcional e cobre o espaço disponível */
  border-top-left-radius: 1rem; /* Arredonda apenas o canto superior esquerdo da imagem */
  border-top-right-radius: 1rem; /* Arredonda apenas o canto superior direito da imagem */
}

.projetos-projeto-acesso{
  width: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 1rem;
  text-align: center;
  font-family: var(--fonte-secundaria);
  font-weight: 600;
  margin-top: 1rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}


/* Mostra o botão no hover */
.projetos-projeto:hover .projetos-projeto-acesso {
  
  display: block;
  opacity: 1;
  pointer-events: auto;
}

/* Descrição oculta inicialmente */
.projetos-projeto-descricao {
  max-height: 0;
  overflow: hidden;
  padding: 0 1rem;
  opacity: 0;
  transition: all 0.4s ease;
  color: var(--cor-primaria);
  font-family: var(--fonte-secundaria);
  text-align: center;
}

/* Mostra a descrição e aumenta altura suavemente */
.projetos-projeto:hover .projetos-projeto-descricao  {
  max-height: 1000px; /* valor suficiente para mostrar todo conteúdo */
  opacity: 1;
  padding: 1rem;
}

.projetos-projeto:hover {
  transform: scale(1.05); /* Aumenta o tamanho do card ao passar o mouse */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Adiciona sombra ao card */
}





.projetos-projeto-titulo {
  text-align: center;
  font-size: 1.5rem;
  font-family: var(--fonte-primaria);
  color: var(--cor-primaria);
  padding: 1rem;
}

.projetos-projeto a { text-decoration: none; } 
.projetos-projeto a:visited, .projetos-projeto a:focus, .projetos-projeto a:hover { text-decoration: none; }




/*Segunda imagem que aparece ao passar o mouse*/
.projetos-imagem {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  transition: opacity 0.3s ease;
}

.imagem-hover {
  opacity: 0;
  z-index: 1;
}

.imagem-padrao {
  z-index: 2;
}

.projetos-projeto:hover .imagem-hover {
  opacity: 1;
}

.projetos-projeto:hover .imagem-padrao {
  opacity: 0;
}






/*Contato*/
.contato {
  padding: 5% 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;

  border-top: 2px solid var(--cor-secundaria);
}

.contato-titulo {
  font-size: 2.5rem;
  font-family: var(--fonte-primaria);
}

.contato-descricao {
  font-size: 1rem;
  font-family: var(--fonte-secundaria);
}

.contato-redes {
  display: flex;
  gap: 2rem;
}

.contato-redes-link {
  color: var(--cor-secundaria);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: color 0.5s;
  font-family: var(--fonte-secundaria);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 2px solid var(--cor-secundaria);
  padding: 0.5rem 1rem;
  border-radius: 1rem;

  position: relative;
  overflow: hidden;
  transition: 0.5s ease;
}

.contato-redes-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--cor-secundaria);
  transition: left 0.5s ease-in-out;
  z-index: -1;
}

.contato-redes-imagem {
  width: 2rem;
}

.contato-redes-link:hover {
  color: var(--cor-primaria);
  border-color: var(--cor-secundaria);
  background-color: var(--cor-secundaria);
}

.contato-redes-link:hover::before {
  left: 0; /* Animação de preenchimento do fundo */
}

.contato-redes-link img {
  filter: brightness(0) saturate(100%);
  width: 2rem;
  height: 2rem;
  transition: filter 0.5s ease;
}

.contato-redes-link:hover img {
  filter: brightness(0) invert(1);
}

/* Estilização do alerta */
.alerta {
  position: fixed;
  bottom: 12%;
  left: 50%;
  padding: 10px 20px;
  transform: translateX(-50%);

  background-color: var(--cor-secundaria);
  color: var(--cor-primaria);
  border-radius: 8px;

  font-size: 1rem;
  font-weight: bold;
  font-family: var(--fonte-secundaria);

  display: none; /* Começa invisível */
  animation: fadeInOut 3s ease-in-out;
}

/* Animação para aparecer e desaparecer */
@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(10px);
  }
  20% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-10px);
  }
}

/*Rodapé*/

.rodape {
  border-top: 2px solid var(--cor-secundaria);
  padding: 2% 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rodape-descricao {
  font-size: 1rem;
  font-family: var(--fonte-secundaria);
}







@media (min-width: 320px) and (max-width: 480px) {
  html,
  body {
    overflow-x: hidden;
    box-sizing: border-box; /* Garantir que o padding não afete o layout */
  }

  .cabecalho{
    display: flex;
    position: fixed; /* Fixando o menu no topo */
    top: 0;
    left: 0;
    padding:0;
    width: 100%;
    height:4rem;
    z-index: 1000;

  }


  .cabecalho-logo {
    height: 2.5rem;
    display: block; /* Exibe o menu hambúrguer em telas pequenas */
  }

  #logo-titulo-destaque{
    font-size: 2rem;
  }

  .cabecalho-menu{
    padding: 1rem;
    background-color: var(--cor-primaria);
    justify-content: flex-start; /* Alinha à esquerda ou no início */
    width: 100%;
  }

  /* Define o tamanho e o espaçamento do menu */
  .cabecalho-menu-lista {
    
    position: fixed;
    top: 0;
    right: 0;
    width: 40vw; /* Largura do menu lateral */
    height: 100%; /* Altura do menu */
    background-color: var(--cor-primaria);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2); /* Sombra do lado esquerdo */

    transform: translateX(100%); /* Menu começa fora da tela */
    transition: transform 0.4s ease-in-out; /* Animação suave para entrada e saída */
  }

  .cabecalho-menu-lista.ativo {
    transform: translateX(0); /* Menu entra na tela quando ativado */
  }


/* Quando o menu está fechando */
.cabecalho-menu-lista.fechando {
  transform: translateX(100%); /* Sai suavemente da tela */
  transition: transform 0.4s ease-in-out; /* Mesma transição */
}

  /* Define a visibilidade e posição do botão hambúrguer */
  .cabecalho-menu-mobile {
    display: block;
    position: absolute;
    z-index: 20;
    right:2rem;
    top: 2.5rem;
  }
/* Linhas do hambúrguer */
.linha {
  width: 100%;
  background: black;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Animação do hambúrguer para "X" */
.cabecalho-menu-mobile.ativo .linha:nth-child(1) {
  transform: rotate(40deg) translate(8px, 7px);
}

.cabecalho-menu-mobile.ativo .linha:nth-child(2) {
  opacity: 0;
}

.cabecalho-menu-mobile.ativo .linha:nth-child(3) {
  transform: rotate(-45deg) translate(9px, -8px);
}

  .apresentacao {
    padding: 25% 5%;
    z-index: 1;
  }
  .apresentacao-conteudo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .apresentacao-conteudo-titulo {
    font-size: 2rem;
    text-align: center;
  }

  .apresentacao-conteudo-descricao{
    font-size: 0.8rem;
    text-align: center;
  }

  .apresentacao-imagem {
    display: none;
  }
  /* Ajuste a largura do conteúdo quando o menu está ativo */
  body.menu-ativo .apresentacao {
    width: calc(100% - 40vw); /* Subtrai a largura do menu */
  }

  .apresentacao-links {
    flex-direction: column;
  }

  .apresentacao-links-link {
    height: 1.5rem;
  }

  .sobre {
    display: flex;
    flex-direction: column;
    padding: 10% 5%;
    min-height: 100vh; /* Garante que a seção ocupe pelo menos toda a tela */
    height: auto; /* Permite que o conteúdo determine a altura necessária */
  }


  .sobre-descricao{
    width: 100%;  

  }
 
  
  .sobre-slider {
    width: 60%; /* O slider ocupa toda a largura do contêiner */
   height: 60vh; 
    overflow: hidden; /* Oculta imagens extras */
    position: relative;
}

.sobre-slider-slide {
    display: flex;
    width: 100%; /* Ajustado via JavaScript */
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.sobre-slider-imagem {
    width: 100%; /* Cada imagem ocupa todo o slider */
    height: 100%;
    object-fit: cover; /* Garante que a imagem ocupe o espaço corretamente */
    flex-shrink: 0; /* Impede que as imagens diminuam */
    object-position: center; /* Centraliza a imagem no contêiner */

  }

  .projetos {
    padding: 10% 15%;
    min-height: 100vh; /* Garante que a seção ocupe pelo menos toda a tela */
    height: auto; /* Permite que o conteúdo determine a altura necessária */
  }
  .projetos-container {
    padding: 0% 15%;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .projetos-projeto {
    border:3px solid red;
    width: 100%;
    max-width: 300px;
  }

  .projetos-projeto-tecnologias{
    display:none;
  }

  .contato {
    padding: 5% 15%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contato-titulo{
    font-size: 2rem;
    padding: 0 5%;
    text-align: center;
  }
  .contato-descricao{
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
  }

  .contato-redes {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .contato-redes-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .alerta{
    text-align: center;
    width: 80%;
  }

  .rodape {
    padding-bottom: 1vh;
    height: auto;
  }
}




/* Para telas com no mínimo 481px de largura */
@media (min-width: 481px) and (max-width: 991px) {
  html,
  body {
    overflow-x: hidden;
    box-sizing: border-box; /* Garantir que o padding não afete o layout */
  }

  .cabecalho{
    display: flex;
    position: fixed; /* Fixando o menu no topo */
    top: 0;
    left: 0;
    padding:0;
    width: 100%;
    height:4rem;
    z-index: 1000;

  }


  .cabecalho-logo {
    height: 2.5rem;
    display: block; /* Exibe o menu hambúrguer em telas pequenas */
  }

  #logo-titulo-destaque{
    font-size: 2rem;
  }

  .cabecalho-menu{
    padding: 1rem;
    background-color: var(--cor-primaria);
    justify-content: flex-start; /* Alinha à esquerda ou no início */
    width: 100%;
  }

  /* Define o tamanho e o espaçamento do menu */
  .cabecalho-menu-lista {
    
    position: fixed;
    top: 0;
    right: 0;
    width: 40vw; /* Largura do menu lateral */
    height: 100%; /* Altura do menu */
    background-color: var(--cor-primaria);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2); /* Sombra do lado esquerdo */

    transform: translateX(100%); /* Menu começa fora da tela */
    transition: transform 0.4s ease-in-out; /* Animação suave para entrada e saída */
  }

  .cabecalho-menu-lista.ativo {
    transform: translateX(0); /* Menu entra na tela quando ativado */
  }


/* Quando o menu está fechando */
.cabecalho-menu-lista.fechando {
  transform: translateX(100%); /* Sai suavemente da tela */
  transition: transform 0.4s ease-in-out; /* Mesma transição */
}

  /* Define a visibilidade e posição do botão hambúrguer */
  .cabecalho-menu-mobile {
    display: block;
    position: absolute;
    z-index: 20;
    right:2rem;
    top: 2.5rem;
  }
/* Linhas do hambúrguer */
.linha {
  width: 100%;
  background: black;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Animação do hambúrguer para "X" */
.cabecalho-menu-mobile.ativo .linha:nth-child(1) {
          transform: rotate(40deg) translate(8px, 7px);
}

.cabecalho-menu-mobile.ativo .linha:nth-child(2) {
  opacity: 0;
}

.cabecalho-menu-mobile.ativo .linha:nth-child(3) {
  transform: rotate(-45deg) translate(9px, -8px);
}

  .apresentacao {
    padding: 25% 5%;
    z-index: 1;
  }
  .apresentacao-conteudo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .apresentacao-conteudo-titulo {
    font-size: 2rem;
    text-align: center;
  }

  .apresentacao-conteudo-descricao{
    font-size: 0.8rem;
    text-align: center;
  }

  .apresentacao-imagem {
    display: none;
  }
  /* Ajuste a largura do conteúdo quando o menu está ativo */
  body.menu-ativo .apresentacao {
    width: calc(100% - 40vw); /* Subtrai a largura do menu */
  }

  .apresentacao-links {
    flex-direction: column;
  }

  .apresentacao-links-link {
    height: 1.5rem;
  }

  .sobre {
    display: flex;
    flex-direction: column;
    padding: 5% 5%;
    min-height: 100vh; /* Garante que a seção ocupe pelo menos toda a tela */
    height: auto; /* Permite que o conteúdo determine a altura necessária */
  }


  .sobre-descricao{
    width: 100%;  

  }
 
  
  .sobre-slider {
    width: 60%; /* O slider ocupa toda a largura do contêiner */
   height: 60vh; 
    overflow: hidden; /* Oculta imagens extras */
    position: relative;
}

.sobre-slider-slide {
    display: flex;
    width: 100%; /* Ajustado via JavaScript */
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.sobre-slider-imagem {
    width: 100%; /* Cada imagem ocupa todo o slider */
    height: 100%;
    object-fit: cover; /* Garante que a imagem ocupe o espaço corretamente */
    flex-shrink: 0; /* Impede que as imagens diminuam */
    object-position: center; /* Centraliza a imagem no contêiner */

  }

  .projetos {
    padding: 10% 15%;
    min-height: 100vh; /* Garante que a seção ocupe pelo menos toda a tela */
    height: auto; /* Permite que o conteúdo determine a altura necessária */
  }
  .projetos-container {
    padding: 0% 15%;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .projetos-projeto {
    width: 50vh;
  }

  .projetos-projeto-tecnologias{
    display:block;
  }

  .projetos-projeto-mobile{
    display: block; /* Exibe o card de projetos em telas médias */
    font-family: var(--fonte-secundaria);
    color: var(--cor-primaria); /* Define a cor do texto do link */
    border: 3px solid red;
  }



  .projetos-projeto-imagem .imagem-padrao {
    width: 100%;
    height: 200px; /* Defina um valor fixo para a altura, garantindo que ambas tenham a mesma altura */
    object-fit: cover; /* Mantém a imagem proporcional e cobre o espaço disponível */
    border-top-left-radius: 1rem; /* Arredonda apenas o canto superior esquerdo da imagem */
    border-top-right-radius: 1rem; /* Arredonda apenas o canto superior direito da imagem */
  }

  .contato {
    padding: 5% 10%;
    justify-content: center;
    gap: 2rem;
  }
  .contato-titulo{
    font-size: 2rem;
    padding: 0 5%;
    text-align: center;
  }
  .contato-descricao{
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
  }

  .contato-redes {
    display: flex;
    flex-direction: column;
  }
  .contato-redes-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .alerta{
    text-align: center;
    width: 80%;
  }

  .rodape {
    padding-bottom: 1vh;
    height: auto;
  }
}


/* Para telas com no mínimo 992px de largura */
@media (min-width: 992px) and (max-width: 1199px) {
  html,
  body {
    box-sizing: border-box;
  }

  .cabecalho {
    padding: 3vh 1vh;
  }
  .cabecalho-menu-lista {
    gap: 5rem;
  }

  .apresentacao {
    padding: 13% 7%;
    height: 60vh;
  }

  .apresentacao-imagem{
    padding: 0;
    width: 30%;
  }
  .sobre {
    padding: 0% 5%;
    height: 125vh;
  }
  .projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 155vh;
    padding: 0% 5%;
  }
  .projetos-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap; /* Itens vão tentar ocupar uma única linha */
    gap: 2rem;
  }

  .projetos-projeto {
    height: 90%;
    width: calc(33.33% - 1rem);  /*A largura dos cards agora será de 1/3 do contêiner, considerando o espaçamento */
    box-sizing: border-box; /* Para garantir que o padding e border sejam considerados na largura */
  }

  .contato {
    height: 50vh;
    padding: 5% 0%;
  }

  .rodape {
    padding-top: 0;
    padding-bottom: 1vh;
    height: 10vh;
  }
}

 